<div class="whiteBox" style="width: 217.5mm; height: 34mm; border: none;">
  <div class="whiteBox" style="width: 46mm; height: 20mm; border: none;">
    <img src="data:image/jpg;base64,{{logoImage}}" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 129mm; height: 2mm; border: none;"></div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 1.75; padding-right: 3mm;">2900 12th Avenue North, Suite 295W</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Michael S Brown, MD, FCAP</div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 1.5; padding-right: 3mm;">Billings, MT 59101</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Pamela P. Clegg, MD, FCAP</div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 1.5; padding-right: 3mm;">Phone: (406) 238-6360 · (888) 400-6640</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Angela F. Durden, MD, FCAP</div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 1.25; padding-right: 3mm;">Fax: (406) 238-6361</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Kerrie R Emerick, MD, FCAP</div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 3; padding-right: 3mm;">(307) 578-1850</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Christopher J. Nero, MD, FCAP</div>
  <div class="whiteBox" style="width: 129mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 3; padding-right: 3mm;">707 Sheridan Avenue</div>
  <div class="whiteBox" style="width: 35mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm; padding-left: 2.75mm; line-height: 1.5;">Duane A. Schultz, MD, FCAP</div>
  <div class="whiteBox" style="width: 215mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 2.75; padding-left: 2mm;">Cody, WY 82414</div>
  <div class="whiteBox" style="width: 215mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm; line-height: 1.5; padding-left: 2mm;"></div>
  <div class="whiteBox" style="width: 217mm; height: 3mm; border: none; text-align: center; line-height: 1; font-size: 4.5mm; font-weight: bold;">Gyn Cytology/Pathology Testing</div>
</div>
