<div class="whiteBox" style="width: 217.5mm; height: 43mm; border: none;">
  <div class="whiteBox" style="width: 107mm; height: 43mm; border: none;">
    <div class="gynHeading" style="width: 107mm; color: white;">PATIENT INFORMATION</div>
    <div class="whiteBox" style="width: 48mm; height: 7mm;">
      <div class="whiteBox" style="width: 48mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">PATIENT LAST NAME:</div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 7mm;;">
      <div class="whiteBox" style="width: 45mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">FIRST NAME:</div>
    </div>
    <div class="whiteBox" style="width: 13mm; height: 7mm;">
      <div class="whiteBox" style="width: 12mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">MI:</div>
    </div>
    <div class="whiteBox" style="width: 48mm; height: 7mm;">
      <div class="whiteBox" style="width: 48mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">PATIENT DATE OF BIRTH:</div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 7mm;">
      <div class="whiteBox" style="width: 35mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">AGE:</div>
    </div>
    <div class="whiteBox" style="width: 23mm; height: 7mm;">
      <div class="whiteBox" style="width: 22mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">GENDER:</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 7mm; border: none; text-align: left; line-height: 1.25;">MALE</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 7mm; border: none; text-align: left; line-height: 1.25;">FEMALE</div>

    </div>
    <div class="gynHeading" style="width: 107mm; height: 2mm; float: left;"></div>
    <div class="yellowBox" style="width: 107mm; height: 7.25mm;">
      <div class="whiteBox" style="width: 106mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">PROVIDER SIGNATURE:</div>
    </div>
    <div class="yellowBox" style="width: 107mm; height: 7.5mm;">
      <div class="whiteBox" style="width: 106mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">COLLECTION DATE/TIME:</div>
    </div>
    <div class="yellowBox" style="width: 107mm; height: 7.5mm;">
      <div class="whiteBox" style="width: 106mm; height: 3.5mm; border: none; line-height: 1; text-align: left;">ADDITIONAL COPY OF RESULT TO:</div>
    </div>
  </div>
  <div class="whiteBox" style="width: 109.5mm; height: 43mm; border: 1px solid; text-align: left;">
    <div class="whiteBox" style="border: none; padding-left: 2mm;">REQUESTED BY:</div>
  </div>
</div>
