<div class="whiteBox" style="width: 217.5mm; height: 184mm; border: none;">
  <div class="whiteBox" style="width: 108mm; height: 186mm;">
    <div class="whiteBox" style="width: 108mm; height: 30mm; border: none;">
      <div class="heading" style="width: 108.5mm; color: white;">GUIDELINES TESTING OPTIONS</div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 7mm; border: none; text-align: left; line-height: 1.25;"><span style="font-weight: bold;">WOMEN 21-25 YEARS: </span>PAP AND CT/GC IN CONJUNCTION. REFLEX TO HPV HIGH RISK IF PAP RESULTS ASCUS.</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 7mm; border: none; text-align: left; line-height: 1.25;"><span style="font-weight: bold;">WOMEN 26-29 YEARS: </span>PAP WITH REFLEX TO HPV HIGH RISK IF PAP RESULTS ASCUS.</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 7mm; border: none; text-align: left; line-height: 1.25;"><span style="font-weight: bold;">WOMEN 30-65 YEARS: </span>PAP AND HPV HIGH RISK IN CONJUNCTION. REFLEX TO HPV GENOTYPINGS FOR 16, 18/45 IF HPV POSITIVE.</div>
    </div>
    <div class="whiteBox" style="width: 108.5mm; height: 37mm; border: none;">
      <div class="heading" style="width: 108mm; color: white;">INDIVIDUAL TESTS AND REFLEX OPTIONS</div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 44mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25; font-weight: bold;">PAP TESTING</div>
      <div class="whiteBox" style="width: 62mm; height: 4mm; border: none; text-align: left; line-height: 1.25; font-weight: bold;">OTHER TESTS</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">THIN PREP PAP</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">CHLAMYDIA/GONORRHEA</div>
      <div class="whiteBox" style="width: 44mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25; font-weight: bold;">HPV HIGH RISK OPTIONS</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">TRICHOMONAS (TRICHOMONAS VAGINALIS)</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">ROUTINE HPV HIGH RISK</div>
      <div class="whiteBox" style="width: 63mm; height: 4mm; border: none; text-align: left; line-height: 1.25; font-weight: bold;">HPV GENOTYPING</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">REFLEX IF ASCUS PAP</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">REFLEX TO HPV GENOTYPING FOR 16, 18/45 IF HPV HIGH RISK IS POSITIVE</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">REFLEX IF ASCUS OR LSIL PAP</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">REFLEX IF ANY ABNORMAL PAP</div>
    </div>
    <div class="whiteBox" style="width: 108.5mm; height: 17mm; border: none;">
      <div class="heading" style="width: 108mm; color: white;">GYN CYTOLOGY</div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 107mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25; font-weight: bold;">SPECIMEN SOURCE</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">CERVICAL/ENDOCERVICAL</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 15mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">VAGINAL</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">OTHER</div>
      <div class="whiteBox" style="width: 25mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 25mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
    </div>
    <div class="whiteBox" style="width: 108.5mm; height: 22mm; border: none;">
      <div class="heading" style="width: 108mm; color: white;">CLINICAL HISTORY</div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 29mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">LMP DATE:</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 45mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 29mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">PREVIOUS PAP DATE:</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 45mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 29mm; height: 4mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">PREVIOUS BX DATE:</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 1.25mm; height: 4mm; border: none; padding-left: .25mm; line-height: 1.25;">/</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 45mm; height: 4mm; border: none;"></div>
    </div>
    <div class="whiteBox" style="width: 108.5mm; height: 45mm; border: none;">
      <div class="heading" style="width: 108mm; color: white;">CLINICAL INFORMATION<span style="font-weight: normal; font-size: 3mm; padding-left: 1mm;">(CHECK ALL THAT APPLY)</span></div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">ROUTINE</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">ORAL CONTRACEPTIVES</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HIGH RISK</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">IUD</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 48mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">PREGNANT - HOW MANY WEEKS?</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HORMONE THERAPY</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 48mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">POSTPARTUM - HOW MANY WEEKS?</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 10mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">DEPO PROVERA</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">POSTMENOPAUSAL</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">REPEAT / FOLLOW-UP</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 58mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HYSTERECTOMY, TOTAL</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 40mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HPV INFECTION</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 103mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HYSTERECTOMY, W/INTACT CERVIX</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 55mm; height: 4mm; border: none; text-align: left; line-height: 1.25;">HISTORY OF ABNORMAL PAP - SPECIFY</div>
      <div class="whiteBox" style="width: 45mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 45mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 15mm; height: 4mm; border: none; text-align: left; line-height: 1.25; letter-spacing: -.25px;">OTHER</div>
      <div class="whiteBox" style="width: 85mm; height: 4mm; border: none;">
        <div class="underLine" style="width: 85mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
    </div>
    <div class="whiteBox" style="width: 108.5mm; height: 30mm; border: none;">
      <div class="heading" style="width: 108mm; color: white;">CYSTIC FIBROSIS SCREENING</div>
      <div class="gynBox" style="width: 108mm;"></div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 34mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">CYSTIC FIBROSIS SCREEN*</div>
      <div class="whiteBox" style="width: 49mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">REPRODUCTIVE PARTNER CF CARRIER?</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">YES</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">NO</div>
      <div class="whiteBox" style="width: 10mm; height: 5mm; border: none;"></div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 93mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">BLOOD</div>
      <div class="whiteBox" style="width: 35mm; height: 5mm; border: none; text-align: left; line-height: 1.25; padding-left: 1mm;">PATIENT FAMILY HX OF CF?</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">YES</div>
      <div class="whiteBox" style="width: 20mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">RELATIONSHIP:</div>
      <div class="whiteBox" style="width: 30mm; height: 5mm; border: none;">
        <div class="underLine" style="width: 30mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">NO</div>
      <div class="whiteBox" style="width: 14mm; height: 5mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">ETHNICITY:</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">CAUC</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 10mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">AM IND</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">HISP</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 10mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">AFR AM</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">ASIAN</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox"></div>
      </div>
      <div class="whiteBox" style="width: 10mm; height: 5mm; border: none; text-align: left; line-height: 1.25;">OTHER</div>
      <div class="whiteBox" style="width: 19mm; height: 5mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">ICD-10 CODE</div>
      <div class="whiteBox" style="width: 88mm; height: 5mm; border: none;">
        <div class="underLine" style="width: 85mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 100mm; height: 5mm; padding-left: 1mm; border: none; text-align: center; line-height: 1.25;">* Pathologist interpretation performed unless otherwise stated</div>
    </div>
  </div>
  <div class="whiteBox" style="width: 108.25mm; height: 186mm; border-top: none; border-right: 1px solid;">
    <div class="whiteBox" style="width: 108.25mm; height: 115mm; border: none;">
      <div class="heading" style="width: 108.25mm; color: white;">DIAGNOSTIC INFORMATION (ICD-10)</div>
      <div class="yellowBox" style="width: 108mm; border: none; height: 4mm; line-height: 1.25; text-align: center;">MARK ALL THAT APPLY FOR TESTING ORDER</div>
      <div class="gynBox" style="width: 106mm; line-height: 2; padding-left: 2mm; font-weight: bold;">SCREENING</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z12.4</div>
      <div class="gynBox" style="width: 88mm;">ENCOUNTER FOR SCREENING FOR MALIGNANT NEOPLASM OF CERVIX</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z12.72</div>
      <div class="gynBox" style="width: 88mm;">ENCOUNTER FOR SCREENING FOR MALIGNANT NEOPLASM OF VAGINA</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z11.3</div>
      <div class="gynBox" style="width: 88mm; height: 6mm;">ENCOUNTER FOR SCREENING FOR INFECTION WITH A PREDOMINANTLY SEXUAL MODE OF TRANSMISSION</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z11.51</div>
      <div class="gynBox" style="width: 88mm;">ENCOUNTER FOR SCREENING FOR HUMAN PAPILLOMAVIRUS (HPV)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z11.59</div>
      <div class="gynBox" style="width: 88mm;">ENCOUNTER FOR SCREENING FOR OTHER VIRAL DISEASES</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z11.8</div>
      <div class="gynBox" style="width: 88mm;">ENCOUNTER FOR SCREENING FOR OTHER INFECTIOUS AND PARASITIC DISEASES</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z01.411</div>
      <div class="gynBox" style="width: 92mm;">ENCOUNTER FOR GYNECOLOGICAL EXAMINATION (GENERAL) (ROUTINE) WITH ABNORMAL FINDINGS</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z01.419</div>
      <div class="gynBox" style="width: 92mm; height: 6mm;">ENCOUNTER FOR GYNECOLOGICAL EXAMINATION (GENERAL) (ROUTINE) WITHOUT ABNORMAL FINDINGS</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z91.89</div>
      <div class="gynBox" style="width: 88mm;">HIGH RISK</div>
      <div class="gynBox" style="width: 106mm; height: 3mm; line-height: 2; padding-left: 2mm; font-weight: bold;">DIAGNOSTIC</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">A59.09</div>
      <div class="gynBox" style="width: 88mm;">OTHER UROGENITAL TRICHOMONIASIS</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">C539</div>
      <div class="gynBox" style="width: 88mm;">MALIGNANT NEOPLASM OF CERVIX, UTERI, UNSPECIFIED</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N879</div>
      <div class="gynBox" style="width: 88mm;">DYSPLASIA OF CERVIX, UTERI, UNSPECIFIED</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N91.2</div>
      <div class="gynBox" style="width: 88mm;">AMENORRHEA, UNSPECIFIED</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N92.0</div>
      <div class="gynBox" style="width: 88mm;">EXCESSIVE AND FREQUENT MENSTRUATION (HEAVY)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N92.1</div>
      <div class="gynBox" style="width: 88mm;">EXCESSIVE AND FREQUENT MENSTRUATION (IRREGULAR)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N92.4</div>
      <div class="gynBox" style="width: 88mm;">EXCESSIVE BLEEDING IN THE PREMENOPAUSAL PERIOD</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N93.8</div>
      <div class="gynBox" style="width: 88mm;">OTHER SPECIFIED ABNORMAL UTERINE AND VAGINAL BLEEDING</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N93.9</div>
      <div class="gynBox" style="width: 88mm;">ABNORMAL UTERINE AND VAGINAL BLEEDING, UNSPECIFIED</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">N94.6</div>
      <div class="gynBox" style="width: 88mm;">DYSMENORRHEA, UNSPECIFIED (PAINFUL MENSTRUATION)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.61</div>
      <div class="gynBox" style="width: 88mm;">ABNORMAL CYTOLOGICAL FINDINGS IN SPECIMENS FROM CERVIX, UTERI</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.610</div>
      <div class="gynBox" style="width: 92mm; height: 6mm;">ATYPICAL SQUAMOUS CELLS OF UNDETERMINED SIGNIFICANCE ON CYTOLOGIC SMEAR OF CERVIX (ASC-US)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.611</div>
      <div class="gynBox" style="width: 92mm; height: 6mm;">ATYPICAL SQUAMOUS CELLS CANNOT EXCLUDE HIGH GRADE SQUAMOUS INTRAEPITHELIAL LESION CYTOLOGIC SMEAR OF CERVIX (ASC-H)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.612</div>
      <div class="gynBox" style="width: 88mm;">LOW GRADE SQUAMOUS INTRAEPITHELIAL LESION ON CYTOLOGIC SMEAR OF CERVIX (LGSIL)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.613</div>
      <div class="gynBox" style="width: 88mm;">HIGH GRADE SQUAMOUS INTRAEPITHELIAL LESION ON CYTOLOGIC SMEAR OF CERVIX (HGSIL)</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.810</div>
      <div class="gynBox" style="width: 88mm;">CERVICAL HIGH RISK HUMAN PAPILLOMAVIRUS TEST POSITIVE</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">R87.820</div>
      <div class="gynBox" style="width: 88mm;">LOW RISK HPV CERVIX</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z77.9</div>
      <div class="gynBox" style="width: 88mm;">OTHER CONTACT WITH AND (SUSPECTED) EXPOSURES HAZARDOUS TO HEALTH</div>
      <div class="gynBox" style="width: 6mm; padding-left: 1mm;">
        <div class="underLine" style="width: 5mm; height: 2.5mm; border-bottom: 1px solid "></div>
      </div>
      <div class="gynBox" style="width: 8mm;">Z92.89</div>
      <div class="gynBox" style="width: 88mm;">PERSONAL HISTORY OF OTHER MEDICAL TREATMENT</div>
      <div class="gynBox" style="width: 7mm; height: 5mm; line-height: 2; padding-left: 1mm; font-weight: bold;">OTHER</div>
      <div class="gynBox" style="width: 95mm; height: 5mm; line-height: 2; padding-left: 1mm;">
        <div class="underLine" style="width: 95mm; height: 3mm; border-bottom: 1px solid "></div>
      </div>
    </div>
    <div class="whiteBox" style="width: 108.75mm; height: 65mm; border: none;">
      <div class="heading" style="width: 108.5mm; color: white;">TISSUE / SURGICAL</div>
      <div class="whiteBox" style="width: 108.5mm; border: none; height: 4mm; line-height: 1.25; text-align: center; font-weight: bold;">GYNECOLOGIC HISTOLOGY (DIAGRAM)</div>
      <div class="whiteBox" style="width: 59.5mm; border: none; height: 36mm;">
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">A.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">ENDOCERVICAL CURRETAGE - ECC</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">B.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">ENDOMETRIAL BIOPSY - EMB</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">C.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">CERVICAL BIOPSY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">D.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">CERVICAL CONE</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">E.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">LABIAL BIOPSY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">F.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">LEEP - ANTERIOR</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">G.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">LEEP - POSTERIOR</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">H.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">PERINEUM BIOPSY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">I.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">VAGINAL BIOPSY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">J.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">VULVAR BIOPSY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">K.</div>
        <div class="whiteBox" style="width: 46mm; height: 3mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">COLPOSCOPY</div>
        <div class="whiteBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.75;">
          <div class="checkBox"></div>
        </div>
        <div class="whiteBox" style="width: 8mm; height: 3mm; border: none; text-align: left; line-height: 1.25;">OTHER</div>
        <div class="gynBox" style="width: 40mm; padding-left: 1mm;">
          <div class="underLine" style="width: 40mm; height: 2.5mm; border-bottom: 1px solid "></div>
        </div>
      </div>
      <div class="whiteBox" style="width: 48.5mm; border: none; height: 36mm;">
        <div class="whiteBox" style="width: 48mm; height: 3cm; border: none;">
          <img src="data:image/jpg;base64,{{cervixDiagramImage}}" alt="diagram" style="width: 3cm; height: 3cm;">
        </div>
        <div class="gynBox" style="width: 48mm; height: 3mm; border: none; text-align: center; line-height: 1.75; font-style: italic;">Cervical Diagram with Patient in Lithotomy Position</div>
        <div class="gynBox" style="width: 48mm; height: 3mm; border: none; text-align: center; line-height: 1;">Please Note the Biopsy Site</div>
      </div>
      <div class="whiteBox" style="width: 108.5mm; border: none; height: 19mm;">
        <div class="whiteBox" style="width: 106.5mm; height: 3mm; padding-left: 1.25mm; border: none; text-align: LEFT; line-height: 1.25;"></div>
        <div class="whiteBox" style="width: 106.5mm; height: 3mm; padding-left: 1.25mm; border: none; text-align: LEFT; line-height: 1.25;">SPECIMEN SITE:</div>
        <div class="whiteBox" style="width: 3mm; height: 4.33mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">A.</div>
        <div class="gynBox" style="width: 101mm; height: 4.33mm; padding-left: 1mm;">
          <div class="underLine" style="width: 100mm; height: 2.75mm; border-bottom: 1px solid "></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 4.33mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">B.</div>
        <div class="gynBox" style="width: 101mm; height: 4.33mm; padding-left: 1mm;">
          <div class="underLine" style="width: 100mm; height: 2.75mm; border-bottom: 1px solid "></div>
        </div>
        <div class="whiteBox" style="width: 3mm; height: 4.33mm; padding-left: 1mm; border: none; text-align: left; line-height: 1.25;">C.</div>
        <div class="gynBox" style="width: 101mm; height: 4.33mm; padding-left: 1mm;">
          <div class="underLine" style="width: 100mm; height: 2.75mm; border-bottom: 1px solid "></div>
        </div>
      </div>
      <div class="whiteBox" style="width: 108.5mm; border: none; height: 8mm;">
        <div class="whiteBox" style="width: 10.5mm; border: none; height: 8mm;"></div>
        <div class="whiteBox" style="width: 97.5mm; border: none; border-left: 1px solid; border-top: 1px solid; height: 8mm;">
          <div class="whiteBox" style="width: 94.5mm; height: 3mm; padding-left: 1mm; border: none; line-height: 1; text-align: left;">YPI ACCESSION #:</div>
          <div class="whiteBox" style="width: 95.5mm; height: 3mm; border: none;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
