<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="page">
      <div class="box"></div>
        <div class="accession">{{accession}}</div>
        <div class="title">{{title}}</div>
        <div class="subtitle">{{subtitle}}</div>
      </div>
    </div>
  </body>
</html>
