html,
body {
  background: #fff;
}
.page {
  position: relative;
  height: 278mm;
  width: 217mm;
  font-family: 'Arial';
  display: block;
  background: #fff;
  page-break-after: auto;
  overflow: hidden;
}
.row {
  height: 20mm;
  width: 217mm;
}
.box {
  height: 20mm;
  font-size: 3mm;
  border-top: 1px solid #a95346;
  border-right: 1px solid #a95346;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  color: #a95346;
  letter-spacing: 0.15mm;
  float: left;
  display: inline-block;
}
