red = #a95346
orange = #f9edef
yellow = #fff19c

box(x, y, borderLeft = 1px solid red, borderBottom = 1px solid red)
  height: x
  width: y
  border-left: borderLeft
  border-bottom: borderBottom

paragraph(fontSize = 3mm, displayType = inline, letterSpacing = .1mm)
  font-size: fontSize
  display: displayType
  letter-spacing: letterSpacing

fill(floatDirection, backgroundColor)
  float: floatDirection
  background-color: backgroundColor

text(lineHeight, textAlign, fontWeight, fontSize = 3mm, textColor = red, letterSpacing = .1mm)
  line-height: lineHeight
  text-align: textAlign
  font-weight: fontWeight
  font-size: fontSize
  color: textColor
  letter-spacing: letterSpacing

html, body
  background black

.page
  position relative
  height 278mm
  width 217mm
  font-family 'Arial'
  display block
  background white
  page-break-after auto
  overflow hidden

p
  paragraph()

.box
  box(35mm, 217mm, none, none)

.accession
  box(10mm, 26mm)
  border-top 1px solid red
  fill(right, white, 1)
  text(1, left, none)

.title
  position relative
  padding 1mm
  box(8mm, 217mm)
  text(1.5, center, bold, 5mm)


.subtitle
  position relative
  text(1.25, center, bold, 4.5mm, white)
  fill(none, red)
  box(5mm, 217mm)

.one
  fill(left, white)
  box(6mm, 25mm)
  text(1, left, 0.68)

.two
  box(6mm, 65.15mm)
  fill(left, orange)

.three
  box(6mm, 10mm)
  fill(left, white)
  text(2, left, none)

.four
  box(6mm, 52mm)
  fill(left, orange)

.five
  box(6mm, 6.4mm)
  fill(left, white)
  text(2, none, none)

.six
  box(6mm, 9mm)
  fill(left, orange)

.seven
  box(6mm, 15mm)
  fill(left, yellow)
  text(1, none, none)

.eight
  box(6mm, 32mm)
  fill(left, yellow)
