red = #a95346
orange = #f9edef
yellow = #fff19c

rowHeight = 6mm
pageWidth = 217mm
pageHeight = 278mm


html, body
  background black

.page
  position relative
  height pageHeight
  width pageWidth
  font-family 'Arial'
  display block
  background white
  page-break-after auto
  overflow hidden

.row
  height rowHeight
  width pageWidth

.heading
  position relative
  height rowHeight
  width pageWidth
  background red
  font-weight bold
  text-align center
  letter-spacing .1mm
  color red

.box
  height rowHeight
  font-size 3mm
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center

.checkBox
  width 2mm
  height 2mm
  background-color white
  box-shadow 2px 2px #a95346
  position relative
  display inline-block

.underLine
  height 4mm
  width 68mm
  position relative
  display inline-block

.highlight
  background-color yellow
