html,
body {
  background: #000;
}
.page {
  position: relative;
  height: 278mm;
  width: 217mm;
  font-family: 'Arial';
  display: block;
  background: #fff;
  page-break-after: auto;
  overflow: hidden;
}
.row {
  height: 6mm;
  width: 217mm;
}
.heading {
  position: relative;
  height: 6mm;
  width: 217mm;
  background: #a95346;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1mm;
  color: #a95346;
}
.box {
  height: 6mm;
  font-size: 3mm;
  line-height: 2;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  color: #a95346;
  letter-spacing: 0.1mm;
  float: left;
  display: inline-block;
  text-align: center;
}
.checkBox {
  width: 2mm;
  height: 2mm;
  background-color: #fff;
  box-shadow: 2px 2px #a95346;
  position: relative;
  display: inline-block;
}
.underLine {
  height: 4mm;
  width: 68mm;
  position: relative;
  display: inline-block;
}
span.highlight {
  background-color: #fff19c;
}
