html,
body {
  background: #000;
}
.page {
  position: relative;
  height: 278mm;
  width: 217mm;
  font-family: 'Arial';
  display: block;
  background: #fff;
  page-break-after: auto;
  overflow: hidden;
}
p {
  font-size: 3mm;
  display: inline;
  letter-spacing: 0.1mm;
}
.box {
  height: 35mm;
  width: 217mm;
  border-left: none;
  border-bottom: none;
}
.accession {
  height: 10mm;
  width: 26mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  border-top: 1px solid #a95346;
  float: right;
  background-color: #fff;
  padding-right: 1;
  line-height: 1;
  text-align: left;
  font-weight: none;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.title {
  position: relative;
  padding: 1mm;
  height: 8mm;
  width: 217mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  font-size: 5mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.subtitle {
  position: relative;
  line-height: 1.25;
  text-align: center;
  font-weight: bold;
  font-size: 4.5mm;
  color: #fff;
  letter-spacing: 0.1mm;
  float: none;
  background-color: #a95346;
  padding-right: 1mm;
  height: 5mm;
  width: 217mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
}
.lineOne {
  background: #ffc0cb;
}
.one {
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  height: 6mm;
  width: 25mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 1;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.two {
  height: 6mm;
  width: 65mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #f9edef;
  padding-right: 1mm;
}
.three {
  height: 6mm;
  width: 10mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  line-height: 2;
  text-align: right;
  font-weight: none;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.four {
  height: 6mm;
  width: 50mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #f9edef;
  padding-right: 1mm;
}
.five {
  height: 6mm;
  width: 6mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  line-height: 2;
  text-align: none;
  font-weight: none;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.six {
  height: 6mm;
  width: 8mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #f9edef;
  padding-right: 1mm;
}
.seven {
  height: 6mm;
  width: 12mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff19c;
  padding-right: 1mm;
  line-height: 1;
  text-align: none;
  font-weight: none;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.eight {
  height: 6mm;
  width: 30mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff19c;
  padding-right: 1mm;
}
.lineTwo .one {
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  height: 6mm;
  width: 20mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 2;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.lineTwo .two {
  height: 6mm;
  width: 19mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
}
.lineTwo .three {
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  height: 6mm;
  width: 8.5mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 2;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.lineTwo .four {
  height: 6mm;
  width: 8mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
}
.lineTwo .five {
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  height: 6mm;
  width: 8.5mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 2;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.lineTwo .six {
  height: 6mm;
  width: 38mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
}
.lineTwo .seven {
  float: left;
  background-color: #fff;
  padding-right: 1mm;
  height: 6mm;
  width: 10mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 2;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.lineTwo .eight {
  height: 6mm;
  width: 35mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff;
  padding-right: 1mm;
}
.lineTwo .nine {
  float: left;
  background-color: #fff19c;
  padding-right: 1mm;
  height: 6mm;
  width: 12mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  line-height: 2;
  text-align: right;
  font-weight: 0.68;
  font-size: 3mm;
  color: #a95346;
  letter-spacing: 0.1mm;
}
.lineTwo .ten {
  height: 6mm;
  width: 44mm;
  border-left: 1px solid #a95346;
  border-bottom: 1px solid #a95346;
  float: left;
  background-color: #fff19c;
  padding-right: 1mm;
}
