red = #a95346
rowHeight = 20mm
pageWidth = 217mm
pageHeight = 278mm

html, body
  background white

.page
  position relative
  height pageHeight
  width pageWidth
  font-family 'Arial'
  display block
  background white
  page-break-after auto
  overflow hidden

.row
  height rowHeight
  width pageWidth

.box
  height rowHeight
  font-size 3mm
  border-top 1px solid red
  border-right 1px solid red
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .15mm
  float left
  display inline-block
