red = #a95346
orange = #f9edef
yellow = #fff19c

rowHeight = 6mm
pageWidth = 217mm
pageHeight = 278mm

@media print
  body
    -webkit-print-color-adjust exact
  .checkBox
    -webkit-print-color-adjust exact

html, body
  background black

.page
  position relative
  height pageHeight
  width pageWidth
  font-family 'Arial'
  display block
  background white
  page-break-after auto
  overflow hidden


.row
  height rowHeight
  width pageWidth

.heading
  position relative
  height rowHeight
  width pageWidth
  background red
  font-weight bold
  text-align center
  letter-spacing .1mm
  color red

.whiteBox
  height rowHeight
  font-size 3mm
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center


.brownBox
  height rowHeight
  font-size 3mm
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center
  background-color orange

.yellowBox
  height rowHeight
  font-size 3mm
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center
  background-color yellow

.checkBox
  width 2mm
  height 2mm
  background-color white
  position relative
  display inline-block
  box-shadow: 2px 2px red

.underLine
  height 4mm
  width 68mm
  position relative
  display inline-block
  float left

.highlight
  background-color yellow
