<div class="whiteBox" style="width: 216mm; height: 16mm; border: none; border-left: 2px solid; border-right: 2px solid;">
<div class="heading" style="width: 214mm; border: none; background-color: silver; color: black; text-align: left; line-height: 1.5; padding-left: 2mm;">Consultation Request</div>
  <div class="whiteBox" style="width: 217mm; height: 5mm; border: none;">
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 162mm; height: 5mm; border: none; font-size: 2.5mm; text-align: left;">Comprehensive Consult (YPI Pathologists will assess clinical information and laboratory data and select appropriate ancillary tests)</div>
    <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 18mm; height: 4mm; border: none; font-size: 2.5mm;">Bone Marrow</div>
    <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; height: 4mm; border: none; font-size: 2.5mm; text-align: left; padding-left: 1mm;">Peripheral Blood</div>
  </div>
  <div class="whiteBox" style="width: 217mm; height: 5mm; border: none;">
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 50mm; height: 5mm; border: none; font-size: 2.5mm; text-align: left;">Consultation on prepared slides/blocks</div>
    <div class="whiteBox" style="width: 45mm; height: 5mm; border: none; font-size: 2.5mm; font-weight: bold;">Referring institution case number</div>
    <div class="whiteBox" style="width: 100mm; height: 5mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 100mm; border-bottom: 1px solid "></div>
    </div>
  </div>
</div>
