<div class="oncoBox" style="width: 216mm; height: 84.5mm; border: none; border-left: 2px solid; border-right: 2px solid;">
<div class="heading" style="width: 214mm; height: 4.75mm; background-color: silver; color: black; text-align: left; padding-left: 2mm; line-height: 1;">Hematology Test Menu</div>
  <div class="oncoBox" style="width: 97mm; height: 90mm; border: none;">
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Histomorphology</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none;line-height: 1.5;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Morphologic Analysis (please include CBC with requisition)</div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Flow Cytometry</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Morphologic Analysis (please include CBC with requisition)</div>
    <div class="oncoBox" style="width: 10mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; border: none; text-align: left;">Bone Marrow</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 3.5mm; border: none; text-align: left;">Peripheral Blood</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 6mm; height: 3.5mm; border: none; text-align: left;">Other</div>
    <div class="oncoBox" style="width: 24mm; height: 3.5mm; border: none;">
      <div class="underLine" style="width: 24mm; height: 2.75mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 6mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Platelet Antibodies (For Thrombocytopenia Profile. See Below)</div>
    <div class="oncoBox" style="width: 42.5mm; height: 13mm; border: none;">
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left;">PNH</div>
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left;">Reticulated Platelets</div>
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left;">Stem Cell Enumeration</div>
    </div>
    <div class="oncoBox" style="width: 52.5mm; height: 13mm; border: none;">
      <div class="oncoBox" style="width: 8mm; height: 5.5mm; border: none; padding-top: 1mm; padding-left: 2mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm;"></div>
      </div>
      <div class="oncoBox" style="width: 30mm; height: 8mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-left: 4mm; padding-top: 2mm;">HOLD FOR FLOW CYTOMETRY</div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Thrombocytopenia Profile (Platelet Antibody &#038 Reticulated Platelet)</div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Blood Disorders</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; text-align: left; padding-right: 5mm;">HgF</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 3.5mm; border: none; text-align: left;">Other</div>
    <div class="oncoBox" style="width: 24mm; border: none;">
      <div class="underLine" style="width: 24mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Cytogenetics</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Oncology Chromosome Analysis</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 85mm; height: 3.5mm; font-size: 2mm; border: none; text-align: left; ">Reflex to FISH if cytogenetics is normal (reflex FISH panel must be marked)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; text-align: left; "></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 85mm; height: 3.5mm; border: none; font-size: 2mm; text-align: left; ">Reflex to AML Prognostic Profile when cytogenetics is intermediate risk</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 3.5mm; border: none; text-align: left; ">Other</div>
    <div class="oncoBox" style="width: 80mm; border: none;">
      <div class="underLine" style="width: 80mm; height: 3.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Myeloproliferative Neoplam Panels</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Polycythemia Vera (PV) - JAK2 V617F, reflex to JAK2 Exons 12-14</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Essential Thrombocythemia (ET) - JAK@ V617F, reflex to CALR, reflex to MPL</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left;">Primary Myelofibrosis (PMF) - JAK2 V617F, reflex to CALR, reflex to MPL</div>
  </div>
  <div class="oncoBox" style="width: 118.5mm; height: 84.5mm; border: none; border-left: 1px solid silver;">
    <div class="oncoBox" style="width: 116.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">FISH - Hematologic FISH Panels</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">ALL Adult</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 45mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">CLL</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MPN</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">ALL Pediatric</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 45mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Eosinophilia</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">NHL</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">AML Extended</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 45mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">High-Grade/Large B-Cell Lymphoma</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">XY</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">AML Standard</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MDS Extended</div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">AML Favorable-Risk</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MDS Standard</div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 19mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;">High Risk MM -</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.25;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; font-size: 2mm; border: none; text-align: left;">With Plasma Cell Enrichment</div>
    <div class="oncoBox" style="width: 51mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;">MM IgH Complex -</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.25;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.5mm; font-size: 2mm; border: none; text-align: left;">With Plasma Cell Enrichment</div>
    <div class="oncoBox" style="width: 48mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 16mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;">MM/MGUS -</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.25;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 91mm; height: 3.5mm; border: none; line-height: 1; font-size: 2mm; text-align: left; ">Reflex to MM IgH Complex if IgH Positive. (Only available with global panel. Tech-Only clients must use the test add-on process.)</div>
    <div class="oncoBox" style="width: 21mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.25;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 91mm; height: 3.5mm; border: none; font-size: 2mm; text-align: left;">With Plasma Cell Enrichment</div>
    <div class="oncoBox" style="width: 5mm; height: 3mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 57mm; height: 3mm; border: none; text-align: left; padding-right: 5mm; line-height: 1.5;">Plasma Cell Myeloma Risk Stratification (IMWG) -</div>
    <div class="oncoBox" style="width: 116.5mm; height: 3mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1; font-size: 2.75mm;">Individual Panels</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">ALK / Lymphoma (2p23)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">IGH/MAFB t(14;20)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 7mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Other:</div>
    <div class="oncoBox" style="width: 33mm; height: 3.5mm; border: none;">
      <div class="underLine" style="width: 30mm; height: 3.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">API2/MALT1 t(11;18)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MYC/IgH/CEN8 t(8;14)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 7mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Other:</div>
    <div class="oncoBox" style="width: 33mm; height: 3.5mm; border: none;">
      <div class="underLine" style="width: 30mm; height: 3.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">BCR/ABL1/ASS1 t(9;22)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">PML/RARA t(15;17)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 7mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Other:</div>
    <div class="oncoBox" style="width: 33mm; height: 3.5mm; border: none;">
      <div class="underLine" style="width: 30mm; height: 3.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 116.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">Molecular Genetics</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Prothrombin G20210A</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 30mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Favtor V Leiden R506Q</div>
    <div class="oncoBox" style="width: 45mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 17mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">ABL1 (Gleevec</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">BCR-ABL1, t(9;22)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 17mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">ETV6-RUNX1</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 14mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">JAK2 V617F</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 19mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">NPM1</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5"></div>
    <div class="oncoBox" style="width: 16mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">resistance)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; font-size: 2mm; text-align: left; line-height: 2">Reflex to ABL1</div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">(TEL-AML1) t(12;21)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="width: 1mm; height: 1mm;"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; border: none; font-size: 2mm; text-align: left; line-height: 2">Reflex to JAK2</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">PML-PARA, t(15;17)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 17mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">B-Cell</div>
    <div class="oncoBox" style="width: 4mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 23mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">BRAF</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 21mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">FLT3</div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; font-size: 2mm; border: none; text-align: left; line-height: 2">Exon 12-14</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">RUNX1-RUNX1T1</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 17mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">B-Cell &#038 T-Cell</div>
    <div class="oncoBox" style="width: 4mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 23.5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">CEPBAIgVH Mutation</div>
    <div class="oncoBox" style="width: 4mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 40mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MPL</div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">(AML1-ETO), t(8;21)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 17mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">BCL1, t(11;14)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 18mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Chimerism/DNA</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 24mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">inv(16) CBFB-MYH11</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">MPN Standard</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">T-Cell</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">BCL2, t(14;18)</div>
    <div class="oncoBox" style="width: 18mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Fingerprinting</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 29mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">JAK2 Exon 12-14</div>
    <div class="oncoBox" style="width: 15mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Reflex Panel</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 6mm; height: 3.5mm; border: none; text-align: left; line-height: 1.5">Other</div>
    <div class="oncoBox" style="width: 12mm; height: 3.5mm; border: none;">
      <div class="underLine" style="width: 12mm; height: 2.75mm; border-bottom: 1px solid "></div>
    </div>
  </div>
</div>
