<div class="oncoBox" style="width: 216mm; height: 88.5mm; border: none; border-left: 2px solid; border-right: 2px solid;">
<div class="heading" style="width: 214mm; height: 4.75mm; background-color: silver; color: black; text-align: left; padding-left: 2mm; line-height: 1;">Hematology Test Menu</div>
  <div class="oncoBox" style="width: 97mm; height: 90mm; border: none;">
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">HISTOMORPHOLOGY</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none;line-height: 1.5;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Morphologic Analysis/Peripheral Blood Smear</div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25; padding-left: 3mm;">(please include CBC with requisition)</div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">FLOW CYTOMETRY</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Leukemia/Lymphoma Phenotyping</div>
    <div class="oncoBox" style="width: 96.5mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25; padding-left: 3mm;">(please include CBC with requisition)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Platelet Antibodies (For Thrombocytopenia Profile. See Below)</div>

    <div class="oncoBox" style="width: 41mm; height: 10.5mm; border: none;">
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">PNH</div>
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Reticulated Platelets</div>
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Stem Cell Enumeration</div>
    </div>
    <div class="oncoBox" style="width: 52.5mm; height: 10.5mm; border: none;">
      <div class="oncoBox" style="width: 9mm; height: 9mm; border: none; padding-top: 1mm; padding-left: 1mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm;"></div>
      </div>
      <div class="oncoBox" style="width: 30mm; height: 8.5mm; border: none; line-height: 1; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-left: 4mm; padding-top: 2mm;">HOLD FOR FLOW CYTOMETRY</div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.25;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 6.5mm; border: none; text-align: left; line-height: 1;">Thrombocytopenia Profile (Platelet Antibody &#038 Reticulated Platelet)</div>

    <div class="oncoBox" style="width: 50mm; height: 12mm; border: none;">
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">HgF</div>
      <div class="oncoBox" style="width: 49mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">CYTOGENETICS</div>
      <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 44mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Oncology Chromosome Analysis</div>
    </div>
    <div class="oncoBox" style="width: 45mm; height: 12mm; border: none;">
      <div class="oncoBox" style="width: 9mm; height: 9mm; border: none; padding-top: 1mm; padding-left: 1mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm;"></div>
      </div>
      <div class="oncoBox" style="width: 30mm; height: 8mm; border: none; line-height: 1; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-left: 1mm; padding-bottom: 1mm;">CULTURE AND HOLD FOR CYTOGENETICS</div>
    </div>
    <div class="oncoBox" style="width: 3mm; height: 3.5mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 87mm; height: 3.5mm; font-size: 2.5mm; border: none; text-align: left; line-height: 1.25;">Reflex to FISH if cytogenetics is normal (reflex FISH panel must be marked)</div>
    <div class="oncoBox" style="width: 3mm; height: 3.5mm; border: none; text-align: left; "></div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 85mm; height: 3.5mm; border: none; font-size: 2.5mm; text-align: left; line-height: 1.25;">Reflex to AML Prognostic Profile when cytogenetics is intermediate risk</div>
    <div class="oncoBox" style="width: 5mm; height: 3.5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 3.5mm; border: none; text-align: left; line-height: 1.25;">Other</div>
    <div class="oncoBox" style="width: 80mm; border: none;">
      <div class="underLine" style="width: 80mm; height: 3.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 96.5mm; height: 4mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">MYELOPROLIFERATIVE NEOPLASM PANELS</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 3.5mm; font-size: 2.85mm; border: none; text-align: left; line-height: 1.25">Polycythemia Vera (PV) - JAK2 V617F, reflex to JAK2 Exons 12-14</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 6mm; border: none; text-align: left; font-size: 2.85mm; line-height: 1;">Essential Thrombocythemia (ET) - JAK@ V617F, reflex to CALR, reflex to MPL</div>
    <div class="oncoBox" style="width: 5mm; height: 1mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 90.5mm; height: 6mm; border: none; text-align: left; font-size: 2.85mm; line-height: 1;">Primary Myelofibrosis (PMF) - JAK2 V617F, reflex to CALR, reflex to MPL</div>
  </div>
  <div class="oncoBox" style="width: 118.5mm; height: 84.5mm; border: none; border-left: 1px solid silver;">
    <div class="oncoBox" style="width: 116.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1.5;">FISH - HEMATOLOGIC FISH PANELS</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.5">ALL Adult</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 50mm; height: 4mm; border: none; text-align: left; line-height: 1.5">CLL</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 4mm; border: none; text-align: left; line-height: 1.5">MPN</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.5">ALL Pediatric</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 50mm; height: 4mm; border: none; text-align: left; line-height: 1.5">Eosinophilia</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 4mm; border: none; text-align: left; line-height: 1.5">NHL</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.5">AML Extended</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 50mm; height: 4mm; border: none; text-align: left; line-height: 1.5">High-Grade/Large B-Cell Lymphoma</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 4mm; border: none; text-align: left; line-height: 1.5">XY</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.5">AML Standard</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1.5">MDS Extended</div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left;"></div>


    <div class="oncoBox" style="width: 70mm; height: 12.5mm; border: none">
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 32mm; height: 4mm; border: none; text-align: left; line-height: 1.5">AML Favorable-Risk</div>
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 25mm; height: 4mm; border: none; text-align: left; line-height: 1.5">MDS Standard</div>
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 22mm; height: 4mm; border: none; text-align: left; line-height: 1.5;">High Risk MM-</div>
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.25;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 35mm; height: 4mm; font-size: 2.5mm; border: none; text-align: left;">With Plasma Cell Enrichment</div>
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 26mm; height: 4mm; border: none; text-align: left; line-height: 1.5;">MM IgH Complex-</div>
      <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.25;">
        <div class="checkBox"></div>
      </div>
      <div class="oncoBox" style="width: 33mm; height: 4mm; font-size: 2.5mm; border: none; text-align: left;">With Plasma Cell Enrichment</div>
    </div>
    <div class="oncoBox" style="width: 47mm; height: 12.5mm; border: none">
      <div class="oncoBox" style="width: 9mm; height: 9mm; border: none; padding-top: 1mm; padding-left: 3mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm;"></div>
      </div>
      <div class="oncoBox" style="width: 28mm; height: 8.5mm; border: none; line-height: 1; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-top: 1mm;">Harvest and Hold for FISH</div>
    </div>

    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 16mm; height: 5mm; border: none; text-align: left; line-height: 1.5;">MM/MGUS-</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 91mm; height: 5mm; border: none; line-height: 1.25; font-size: 2.5mm; text-align: left; ">Reflex to MM IgH Complex if IgH Positive. (Only available with global panel. Tech-Only clients must use the test add-on process.)</div>
    <div class="oncoBox" style="width: 21mm; height: 4mm; border: none; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 2;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 91mm; height: 4mm; border: none; font-size: 2.5mm; text-align: left; line-height: 1.5; padding-top: 1mm;">With Plasma Cell Enrichment</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 75mm; height: 3.5mm; border: none; text-align: left; padding-right: 5mm; line-height: 1;">Plasma Cell Myeloma Risk Stratification (IMWG) -</div>
    <div class="oncoBox" style="width: 116.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1;">INDIVIDUAL PANELS</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1">ALK / Lymphoma (2p23)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 33mm; height: 4mm; border: none; text-align: left; line-height: 1">IGH/MAFB t(14;20)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 4mm; border: none; text-align: left; line-height: 1">Other:</div>
    <div class="oncoBox" style="width: 24mm; height: 4mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 24mm; height: 2.75mm; border-bottom: 1px solid;"></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1">API2/MALT1 t(11;18)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 33mm; height: 4mm; border: none; text-align: left; line-height: 1">MYC/IgH/CEN8 t(8;14)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 4mm; border: none; text-align: left; line-height: 1">Other:</div>
    <div class="oncoBox" style="width: 24mm; height: 4mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 24mm; height: 2.75mm; border-bottom: 1px solid;"></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 4mm; border: none; text-align: left; line-height: 1">BCR/ABL1/ASS1 t(9;22)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 33mm; height: 4mm; border: none; text-align: left; line-height: 1">PML/RARA t(15;17)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 4mm; border: none; text-align: left; line-height: 1">Other:</div>
    <div class="oncoBox" style="width: 24mm; height: 4mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 24mm; height: 2.75mm; border-bottom: 1px solid;"></div>
    </div>
    <div class="oncoBox" style="width: 116.5mm; height: 3.5mm; border: none; text-align: left; padding-left: 1mm; font-weight: bold; line-height: 1;">MOLECULAR GENETICS</div>





    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 36mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">ABL1 (Gleevec resistance)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 32.5mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">B-Cell</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 33mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">BCL1, t(11;14)</div>


    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 36mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">BCL2, t(14;18)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 32.5mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">BCR-ABL1, t(9;22)</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 35mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">CEPBA</div>


    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 39mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">FLT3</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 29.5mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">Reflex to ABL1</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 34mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">IgVH Mutation</div>


    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 36mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">inv(16) CBFB-MYH11</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 32.5mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">NPM1</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 34mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">PML-PARA, t(15;17)</div>


    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 36mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">T-Cell</div>
    <div class="oncoBox" style="width: 5mm; height: 3.75mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 9mm; height: 3.75mm; border: none; text-align: left; line-height: 1;">Other:</div>
    <div class="oncoBox" style="width: 61mm; height: 3.75mm; border: none;">
      <div class="underLine" style="width: 61mm; height: 2.75mm; border-bottom: 1px solid "></div>
    </div>
  </div>
</div>
