<div class="oncoBox" style="width: 217mm; height: 99mm; border-right: 2px solid; border-left: 2px solid; border-bottom: none;">
  <div class="heading" style="width: 107.5mm; color: white; line-height: 1.25; text-align: left; padding-top: 0.5mm; position: none; float: left;">Client Information</div>
  <div class="heading" style="width: 39mm; color: white; line-height: 1.25; text-align: left; padding-top: 0.5mm; font-size: 4mm; padding-left: 1mm; position: none; float: left;">Patient Information</div>
  <div class="heading" style="width: 69.5mm; color: white; line-height: 3; font-size: 2mm; padding-top: 0.5mm; text-align: left; position: none; float: left;">(Place patinet information label here or complete section)</div>
  <div class="oncoBox" style="width: 108mm; height: 94mm; border: none">
    <div class="oncoBox" style="width: 107mm; height: 29mm; border:none;"></div>
    <div class="oncoBox" style="border: none;">Requisition Completed by:</div>
    <div class="oncoBox" style="width: 69mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 69mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="border: none;">Ordering Physician (please print):</div>
    <div class="oncoBox" style="width: 61mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 60mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="height: 12mm;border: none; font-size: 2mm; text-align: left; padding-left: .5mm; padding-right: .5mm;">
      Please release requested patient specimen materials to Yellowstone Pathology Institute for additional testing. Please call the phone number listed in the Client Information section with any questions. Thank you in advance for your prompt attention in this matter.
    </div>
    <div class="oncoBox" style="border: none;">Ordering Physician Signature:</div>
    <div class="oncoBox" style="width: 61mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 60mm; border-bottom: 1px solid "></div>
    </div>
    <div class="yellowBox" style="width: 22mm; border: none;">Collection Date:</div>
    <div class="yellowBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
    </div>
    <div class="yellowBox" style="width: 25mm; border: none;">Collection Time:</div>
    <div class="yellowBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
    </div>
    <div class="yellowBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="background: #fff19c;"></div>
    </div>
    <div class="yellowBox" style="width: 5mm; border: none;">AM</div>
    <div class="yellowBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="background: #fff19c;"></div>
    </div>
    <div class="yellowBox" style="width: 5mm; border: none;">PM</div>
    <div class="heading" style="width: 107.5mm; color: white; line-height: 1.25; text-align: left; padding-top: 0.5mm; position: none; float: left;">Specimen Information</div>
    <div class="oncoBox" style="width: 106mm; height: 5mm; text-align: left; padding-left: 1mm; border: none;">Customer Care will request specimen from Pathology site.</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 5mm; border: none;">Bone Marrow</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 25mm; height: 5mm; border: none;">Peripheral Blood</div>
    <div class="oncoBox" style="width: 32mm; height: 5mm; border: none; padding-left: 2mm;">Location of Specimen:</div>
    <div class="oncoBox" style="width: 17mm; height: 5mm; border: none;">
      <div class="underLine" style="width: 17mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 5mm; border: none; padding-left: 1mm;">City:</div>
    <div class="oncoBox" style="width: 68mm; height: 5mm; border: none;">
      <div class="underLine" style="width: 67mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 5mm; border: none; padding-left: 1mm;">State:</div>
    <div class="oncoBox" style="width: 19mm; height: 5mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 19mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 5mm; border: none; padding-left: 1mm;">Phone:</div>
    <div class="oncoBox" style="width: 96.75mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 95mm; border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="oncoBox" style="width: 108.5mm; height: 94mm; border: none">
    <div class="oncoBox" style="width: 38mm; height: 5mm; border: none; padding-left: 1mm;">Patient Name (Last, First):</div>
    <div class="oncoBox" style="width: 65mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 65mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 25m; height: 5mm; border: none; padding-left: 1mm;">Date of Birth: MM</div>
    <div class="oncoBox" style="width: 9mm; height: 5mm; border: none; padding-left: .5mm;">
      <div class="underLine" style="width: 9mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 7mm; height: 5mm; border: none;">/ DD</div>
    <div class="oncoBox" style="width: 9mm; height: 5mm; border: none; padding-left: .5mm;">
      <div class="underLine" style="width: 9mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 7mm; height: 5mm; border: none;">/ YY</div>
    <div class="oncoBox" style="width: 9mm; height: 5mm; border: none; padding-left: .5mm;">
      <div class="underLine" style="width: 9mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 6mm; height: 5mm; border: none;">Sex:</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 8mm; height: 5mm; border: none;">Male</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 5mm; border: none;">Female</div>
    <div class="oncoBox" style="width: 28mm; height: 5mm; border: none;">Medical Record #:</div>
    <div class="oncoBox" style="width: 76mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 76mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 28mm; height: 5mm; border: none;">Social Security #:</div>
    <div class="oncoBox" style="width: 76mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 76mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 38mm; height: 5mm; border: none; padding-left: 1mm;">Patient History/Treatment:</div>
    <div class="oncoBox" style="width: 65mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 65mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 104mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 104mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 104mm; height: 3mm; line-height: 1; font-size: 2mm; text-align: right; border: none; padding-left: 1mm;">(please attach all relevant clinical history)</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 22mm; height: 5mm; border: none;">New Diagnosis</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 11mm; height: 5mm; border: none;">Relapse</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 5mm; border: none;">In Remission</div>
    <div class="oncoBox" style="width: 38mm; height: 5mm; border: none;"></div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="background: #fff19c;"></div>
    </div>
    <div class="oncoBox" style="width: 101mm; height: 5mm; border: none; text-align: left;">See Attached Face Sheet for Patient Address Information</div>
    <div class="heading" style="width: 107.85mm; color: white; line-height: 1.25; text-align: left; padding-top: 0.5mm; padding-left: 1mm; position: none; float: left;">Coding Information</div>
    <div class="yellowBox" style="width: 56.5mm; border: none; text-align: left; padding-left: 1mm;">Diagnosis Code/ICD-10 Code (required):</div>
    <div class="yellowBox" style="width: 50mm; border: none; padding-left: 1mm;">
      <div class="underLine" style="width: 50mm; border-bottom: 1px solid "></div>
    </div>
    <div class="heading" style="width: 107.85mm; color: white; line-height: 1.25; text-align: left; padding-top: 0.5mm; padding-left: 1mm; position: none; float: left;">Billing Information</div>
    <div class="oncoBox" style="width: 12mm; height: 5mm; border: none; font-weight: bold; font-size: 2.75mm;">Bill to:</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15mm; height: 5mm; border: none; font-size: 2.75mm;">Insurance</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 5mm; border: none; font-size: 2.75mm;">Patient</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 25mm; height: 5mm; border: none; font-size: 2.75mm;">Physician Office</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 20mm; height: 5mm; border: none; font-size: 2.75mm;">Hospital/Client</div>
    <div class="oncoBox" style="width: 108mm; height: 5mm; border: none; font-size: 2.5mm; padding-left: 1mm; text-align: left;">*Please attach face sheet and front/back of patient coverage card(s)</div>
    <div class="oncoBox" style="width: 34mm; height: 5mm; border: none; font-size: 2.75mm; padding-left: 1mm;"><span style="font-weight: bold;">Patient Status</span> (Choose 1):</div>
    <div class="oncoBox" style="width: 4.5mm; height: 4.5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 13.5mm; height: 5mm; border: none; font-size: 2.75mm;">In-Patient</div>
    <div class="oncoBox" style="width: 4.5mm; height: 4.5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 15.5mm; height: 5mm; border: none; font-size: 2.75mm;">Out-Patient</div>
    <div class="oncoBox" style="width: 4.5mm; height: 4.5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 29mm; height: 5mm; border: none; font-size: 2.75mm;">Non-Hospital Patient</div>
    <div class="oncoBox" style="width: 40mm; height: 5mm; border: none;"><span style="font-weight: bold;">Medicare Patient</span> (Choose 1):</div>
    <div class="oncoBox" style="width: 4.5mm; height: 4.5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">Yes</div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 5mm; height: 5mm; border: none;">No</div>
    <div class="oncoBox" style="width: 35mm; height: 5mm; border: none;"></div>
    <div class="oncoBox" style="width: 30mm; height: 5mm; border: none; padding-left: .5mm;">Additional Comments:</div>
    <div class="oncoBox" style="width: 73.5mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 73.5mm; border-bottom: 1px solid "></div>
    </div>
    <div class="oncoBox" style="width: 104mm; height: 5mm; border: none; padding-left: 1.75mm;">
      <div class="underLine" style="width: 104mm; border-bottom: 1px solid "></div>
    </div>
  </div>
</div>
