<div class="oncoBox" style="width: 216mm; height: 103.5mm; border: none; border-left: 2px solid; border-right: 2px solid;">
<div class="heading" style="width: 214mm; height: 4.75mm; background-color: silver; color: black; text-align: left; padding-left: 2mm; line-height: 1.25;">IHC Test Menu</div>
</div>
