<div class="oncoBox" style="width: 216mm; height: 60mm; border: none; border-left: 2px solid; border-right: 2px solid; border-bottom: 2px solid">
<div class="heading" style="width: 214mm; height: 4.75mm; line-height: 1.25; background-color: silver; color: black; text-align: left; padding-left: 2mm;">Solid Tumor Test Menu</div>
  <div class="oncoBox" style="width: 65mm; height: 46mm; border: none">
    <div class="oncoBox" style="width: 60mm; height: 5mm; border: none; font-weight: bold; text-align: left; padding-left: 2mm;">Breast Carcinoma</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">Invasive Breast Panel* (ER, PR, HER2 D-ISH)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">Oncotype Dx</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">HER2 D-ISH</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">DCIS Breast Panel (ER/PR*)</div>
    <div class="oncoBox" style="width: 60mm; height: 5mm; border: none; font-weight: bold; text-align: left; padding-left: 2mm;">Gastric Carcinoma</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">HER2 (D-ISH)</div>
  </div>
  <div class="oncoBox" style="width: 65mm; height: 46mm; border: none">
    <div class="oncoBox" style="width: 60mm; height: 5mm; border: none; font-weight: bold; text-align: left; padding-left: 2mm;">Colorectal Carcinoma</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">Comprehensive MSI (Lynch) Evaluation*</div>
    <div class="oncoBox" style="width: 4mm; height: 4mm;; border: none; line-height: 1; text-align: left;"></div>
    <div class="oncoBox" style="width: 59mm; height: 4mm;; border: none; line-height: 1; text-align: left;">(Comprehensive Guideline Based Algorithm)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">RAS/RAF Panel</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">BRAF Mutation Analysis*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">MSI (PCR)*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 60mm; height: 4mm;; border: none; line-height: 1; text-align: left;">MLH1-Methylation (PCR)</div>

  </div>
  <div class="oncoBox" style="width: 86mm; height: 10mm; border: none">
    <div class="oncoBox" style="width: 86mm; height: 5mm; border: none; font-weight: bold; text-align: left; padding-left: 2mm;">Melanoma And Thyroid</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 81mm; height: 4mm;; border: none; line-height: 1; text-align: left;">BRAF Mutation V600E/K for Melanoma*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 81mm; height: 4mm;; border: none; line-height: 1; text-align: left;">Melanoma FISH Profile*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 81mm; height: 4mm;; border: none; line-height: 1; text-align: left;">BRAF Mutation V600E for Thyroid Carcinoma*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 81mm; height: 4mm;; border: none; line-height: 1; text-align: left;">KIT Mutation for Melanoma</div>
    <div class="oncoBox" style="width: 82mm; height: 5mm; border: none; font-weight: bold; text-align: left; padding-left: 2mm;">Lung Cancer</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 80mm; height: 4mm;; border: none; line-height: 1; text-align: left;">Lung Tumor Reflex Profile* (EGFR/ALK/ROS/PD-L1)</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 75mm; height: 4mm;; border: none; line-height: 1; text-align: left;">PD-L1 (IHC)</div>

  </div>
  <div class="oncoBox" style="width: 86mm; height: 36mm; border: none">
    <div class="oncoBox" style="width: 80mm; height: 23mm; border: none; line-height: 1; text-align: left;"></div>
    <div class="oncoBox" style="width: 40.25mm; height: 12.5mm; border: none;"></div>
    <div class="oncoBox" style="width: 45mm; height: 12.5mm; border: none; border-top: 2px solid; border-left: 2px solid; line-height: 1;">
      <div class="oncoBox" style="width: 44mm; height: 4mm; font-size: 3.25mm; font-weight: bold; border: none; line-height: 1; text-align: center; padding-top: 1mm;">YPI Accession Number</div>
    </div>
  </div>
  <div class="oncoBox" style="width: 170mm; height: 8mm; border: none; border-top: 1px solid;">
    <div class="oncoBox" style="width: 24mm; height: 4mm;; padding-left: 1mm; font-weight: bold; border: none; line-height: 1.25; text-align: left;">All Cancer Types:</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 50mm; height: 4mm;; border: none; line-height: 1.25; text-align: left;">NeoARRAY SNP/Cytogenetic Profile*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 52mm; height: 4mm;; border: none; line-height: 1.25; text-align: left;">NeoTYPE Solid Tumor(Other) Profile*</div>
    <div class="oncoBox" style="width: 30mm; height: 4mm;; border: none; line-height: 1.75; text-align: left;"></div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">BRAF*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">c-KIT*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">EGFR*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">KRAS*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">NRAS*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">PIK3CA*</div>
    <div class="oncoBox" style="width: 5mm; height: 4mm;; mm; border: none; line-height: 1.75;">
      <div class="checkBox"></div>
    </div>
    <div class="oncoBox" style="width: 10mm; height: 4mm;; border: none; line-height: 1.5; text-align: left;">TP53*</div>
    <div class="oncoBox" style="width: 37mm; height: 4mm;; mm; border: none; text-align: left; line-height: 1.5;">Other Tests (please specify)</div>
    <div class="oncoBox" style="width: 25mm; height: 4mm;; mm; border: none; line-height: 1.5;">
      <div class="underLine" style="width: 24mm; height: 2.5mm; border-bottom: 1px solid;"></div>
    </div>
  </div>
  <div class="oncoBox" style="width: 45.25mm; height: 9.25mm; border: none; border-left: 2px solid;"></div>
</div>
