<div class="whiteBox" style="width: 217mm; height: 46.25mm; border: none;">
  <div class="whiteBox" style="width: 46mm; height: 20mm; border: none;">
    <img src="logo 45x18.jpg" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 170mm; height: 20mm; border: none;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">2900 12th Avenue North, Suite 295W</div>
  <div class="whiteBox" style="width: 120mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Michael S Brown, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">Billings, MT 59101</div>
  <div class="whiteBox" style="width: 120mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Pamela P. Clegg, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">Phone: (406) 238-6360 · (888) 400-6640</div>
  <div class="whiteBox" style="width: 120mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Angela F. Durden, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">Fax: (406) 238-6361</div>
  <div class="whiteBox" style="width: 120mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Kerrie R Emerick, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 120mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Christopher J. Nero, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">(307) 578-1850</div>
  <div class="whiteBox" style="width: 142.25mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;">Duane A. Schultz, MD, FCAP</div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border-top: 1px solid; border-left: 1px solid; border-right: 1px solid; border-bottom: none; text-align: center; font-size: 2.25mm;">YPI Accession #:</div>
  <div class="whiteBox" style="width: 46mm; height: 3mm; border: none; text-align: center; font-size: 2.25mm;">707 Sheridan Avenue</div>
  <div class="whiteBox" style="width: 142.25mm; height: 3mm; border: none; text-align: left; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 28mm; height: 3mm; border: none; border-left: 1px solid; border-right: 1px solid; text-align: center; font-size: 2.25mm;"></div>
  <div class="whiteBox" style="width: 46mm; height: 5mm; border: none; text-align: center; font-size: 2.25mm;">Cody, WY 82414</div>
  <div class="whiteBox" style="width: 140mm; height: 5mm; border: none; text-align: center; line-height: 1; font-size: 4.5mm; font-weight: bold; padding-right: 2.25mm;">Women's Health Testing</div>
  <div class="whiteBox" style="width: 28mm; height: 5mm; border: none; border-left: 1px solid; border-right: 1px solid; text-align: center; font-size: 2.25mm;"></div>
</div>
