<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="page">
      <div class="whiteBox" style="height: 35mm; width: 217mm; border: none"></div>
      <div class="heading" style="background-color: white; line-height: 1.5; font-size: 5mm; display: inline-block">{{title}}</div>
      <div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">{{subtitle}}</div>
    </div>
  </body>
</html>
