<div class="whiteBox" style="width: 216.5mm; height: 47.5mm; border-right: 1px solid; border-left: 1px solid;">
<div class="heading" style="color: white; padding-top: 0.5mm;">CLINICAL DATA</div>
  <div class="yellowBox" style="width: 216.4mm; border: none; font-weight: bold;">
    <div class="whiteBox" style="width: 28mm; border: none; font-size: 3.5mm;">Date of Service</div>
    <div class="whiteBox" style="width: 25mm; border: none;">
      <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 25mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">Collection Time</div>
    <div class="whiteBox" style="width: 7.5mm; border: none;">
      <div class="underLine" style="width: 7.5mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 1mm; border: none; line-height: 1.25; text-align: center; font-size: 3.5mm;">:</div>
    <div class="whiteBox" style="width: 7.5mm; border: none;">
      <div class="underLine" style="width: 7.5mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">am</div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">pm</div>
    <div class="whiteBox" style="width: 35mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">Ordering Physician</div>
    <div class="whiteBox" style="width: 66mm; border: none;">
      <div class="underLine" style="width: 66mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 24mm; border: none; text-align: left; padding-left: 1mm;">Clinical History:</div>
    <div class="whiteBox" style="width: 191mm; border: none;">
      <div class="underLine" style="width: 191mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 216mm; border: none;">
      <div class="underLine" style="width: 216mm; border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 28mm; border: none; text-align: left; padding-left: 1mm;">Clinical Diagnosis:</div>
    <div class="whiteBox" style="width: 187mm; border: none;">
      <div class="underLine" style="width: 187mm; border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 216mm; border: none;">
      <div class="underLine" style="width: 216mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="yellowBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 75mm; border: none;">Reason for Today's Visit: ICD-10 code(s) (REQUIRED)</div>
    <div class="whiteBox" style="width: 141mm; border: none;">
      <div class="underLine" style="width: 141mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="yellowBox" style="width: 216.4mm; border: none;">
    <div class="whiteBox" style="width: 216mm; border: none;">
      <div class="underLine" style="width: 216mm; border-bottom: 1px solid"></div>
    </div>
  </div>
</div>
