<div class="whiteBox" style="width: 217mm; height: 52mm; border: none;">
  <div class="heading" style="width: 42mm; color: white; font-size: 4mm; padding-top: 0.5mm; position: none; float: left;">FLOW CYTOMETRY</div>
  <div class="heading" style="width: 72mm; color: white; font-size: 3.5mm; padding-top: 0.5mm; position: none; float: left; font-style: italic; text-align: left; padding-left: 1mm;">· Please include most recent CBC report</div>
  <div class="heading" style="width: 102mm; color: white; font-size: 4mm; padding-top: 0.5mm; position: none; float: left;">MOLECULAR TESTING</div>
  <div class="whiteBox" style="width: 108mm; height: 46.5mm;">
    <div class="whiteBox" style="width: 55mm; height: 12mm; border: none;">
      <div class="whiteBox" style="width: 5mm; height: 5.5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 28.5mm; height: 5.5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Fetal Hemoglobin</div>
      <div class="whiteBox" style="width: 20.5mm; height: 5.5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2"></div>
      <div class="whiteBox" style="width: 5mm; height: 5.5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 49mm; height: 5.5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Leukemia/Lymphoma Phenotyping</div>
    </div>
    <div class="whiteBox" style="width: 52.35mm; height: 5.5mm; height: 11mm; border-left: 2px solid; border-bottom: 2px solid;">
      <div class="whiteBox" style="width: 8mm; height: 5.5mm; border: none; padding-top: 1mm; padding-left: 2mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm; border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 36mm; height: 8mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-left: 4mm; padding-top: 2mm;">REFER SPECIMEN FOR CYTOGENETICS</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 5.25mm; border: none">
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; padding-left: 5mm;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 20mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Bone Marrow</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 25mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Peripheral Blood</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Other</div>
      <div class="whiteBox" style="width: 24mm; border: none;">
        <div class="underLine" style="width: 24mm; border-bottom: 1px solid "></div>
      </div>
    </div>
    <div class="whiteBox" style="width: 107mm; height: 5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 101mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Platelet Antibodies (For Thrombocytopenia Profile, see below)</div>
    </div>
    <div class="whiteBox" style="width: 55mm; height: 12mm; border: none;">
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 24.5mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">PNH</div>
      <div class="whiteBox" style="width: 24.5mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2"></div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 49mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Reticulated Platelet</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 49mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Stem Cell Enumeration</div>
    </div>
    <div class="whiteBox" style="width: 52.35mm; height: 5.5mm; height: 10mm; border: none;">
      <div class="whiteBox" style="width: 8mm; height: 5.5mm; border: none; padding-top: 1mm; padding-left: 2mm;">
        <div class="checkBox" style=" width: 8mm; height: 8mm; border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 30mm; height: 8mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-weight: bold; font-size: 3.25mm; text-align: center; padding-left: 4mm; padding-top: 2mm;">HOLD FOR FLOW CYTOMETRY</div>
    </div>
    <div class="whiteBox" style="width: 107mm; height: 5mm; border: none; padding-top: 2mm;">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 101mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Thrombocytopenia Profile (Platelet Antibody &#38 Reticulated Platelet)</div>
    </div>
    <div class="whiteBox" style="width: 4.5mm; border: none; line-height: 1;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 15mm; border: none; line-height: 1; letter-spacing: .1mm; text-align: left; padding-left: .25mm;">ZAP-70</div>
</div>
<div class="whiteBox" style="width: 108.1mm; height: 46.5mm;  border-right: 1px solid; ">
  <div class="whiteBox" style="width: 108.1mm; height: 18.5mm; border: none;">
    <div class="whiteBox" style="width: 58mm; height: 16mm; border: none; padding-top: 2mm;">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 30mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">BRAF*</div>
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 15mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">EGFR*</div>
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 50mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">Her-2 Amplification (D-ISH)</div>
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 50mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">JAK2 V617F Mutation*</div>
    </div>
    <div class="whiteBox" style="width: 49.5mm; height: 5.5mm; height: 18mm; border-left: 2px solid; border-bottom: 2px solid;">
      <div class="whiteBox" style="width: 43.75mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-weight: bold; text-align: left; padding-left: 4mm;">IHC TESTING</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; padding-left: 2mm;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 37mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1mm;">ER/PR (mark one below)</div>
      <div class="whiteBox" style="width: 47.85mm; height: 8mm; border: none;">
        <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; padding-left: 6mm;">
          <div class="checkBox" style="border: 1px solid "></div>
        </div>
        <div class="whiteBox" style="width: 28mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1mm;">Pre-menopausal</div>
        <div class="whiteBox" style="width: 5mm; height: 4mm; border: none; padding-left: 6mm;">
          <div class="checkBox" style="border: 1px solid "></div>
        </div>
        <div class="whiteBox" style="width: 28mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1mm;">Post-menopausal</div>
    </div>
  </div>
  <div class="whiteBox" style="width: 108mm; height: 10mm; border: none;">
    <div class="whiteBox" style="width: 58mm; height: 16mm; border: none; padding-top: 2mm;">
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 15mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">OTHER*</div>
      <div class="whiteBox" style="width: 24mm; border: none;">
        <div class="underLine" style="width: 24mm; border-bottom: 1px solid "></div>
      </div>
    </div>
  </div>
  <div class="whiteBox" style="width: 108mm; height: 16mm; border: none;">
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 34mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Cystic Fibrosis Screen*</div>
    <div class="whiteBox" style="width: 47mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: right;">Reproductive Partner CF Carrier</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Yes</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">No</div>

    <div class="whiteBox" style="width: 40mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 1.5mm;">Patient Family Hx of CF?</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Yes</div>
    <div class="whiteBox" style="width: 20mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2mm">Relationship:</div>
    <div class="whiteBox" style="width: 20mm; height: 5mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">No</div>
    <div class="whiteBox" style="width: 15mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 1.5mm;">Ethnicity:</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Cauc</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 12mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Am Ind</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Hisp</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 12mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Afr Am</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Asian</div>
    <div class="whiteBox" style="width: 5mm; height: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 10mm; height: 5mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">Other</div>
  </div>
</div>
