<div class="whiteBox" style="width: 216.5mm; height: 35mm;  border-right: 1px solid;">
  <div class="heading" style="width: 216.5mm; color: white; position: none; float: left;">MOLECULAR TESTING</div>
  <div class="whiteBox" style="width: 165mm; height: 26mm; border: none;">
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid;"></div>
    </div>
    <div class="whiteBox" style="width: 40mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">HPV16/18 Genotyping (Tissue)</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid;"></div>
    </div>
    <div class="whiteBox" style="width: 36mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">HER-2 Amplification (D-ISH)*</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid;"></div>
    </div>
    <div class="whiteBox" style="width: 30mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left; padding-left: 2">JAK2 V617F Mutation*</div>
    <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid;"></div>
    </div>
    <div class="whiteBox" style="width: 12mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: left;">OTHER*</div>
    <div class="whiteBox" style="width: 24mm; border: none;">
      <div class="underLine" style="width: 24mm; border-bottom: 1px solid;"></div>
    </div>

    <div class="whiteBox" style="width: 45mm; height: 24.75mm; border: none; border-top: 2px solid; border-right: 2px solid;">
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 37mm; height: 4mm; border: none; line-height: 1.75; letter-spacing: .1mm; text-align: center; font-weight: bold;">IHC TESTING</div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 32mm; height: 4mm; border: none; line-height: 1.5; letter-spacing: .1mm; text-align: left;">ER/PR (mark one below)</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 27mm; height: 4mm; border: none; line-height: 1.5; letter-spacing: .1mm; text-align: left;">Pre-menopausal</div>
      <div class="whiteBox" style="width: 10mm; height: 4mm; border: none;"></div>
      <div class="whiteBox" style="width: 5mm; height: 4mm; border: none;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 27mm; height: 4mm; border: none; line-height: 1.5; letter-spacing: .1mm; text-align: left;">Post-menopausal</div>
    </div>

    <div class="whiteBox" style="width: 119mm; height: 20mm; border: none;">
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 34mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Cystic Fibrosis Screen*</div>
      <div class="whiteBox" style="width: 45mm; height: 5mm; border: none;"></div>
      <div class="whiteBox" style="width: 47mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1.5mm;">Reproductive Partner CF Carrier</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Yes</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">No</div>
      <div class="whiteBox" style="width: 45mm; height: 5mm; border: none;"></div>
      <div class="whiteBox" style="width: 39.5mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1.5mm;">Patient Family Hx of CF?</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Yes</div>
      <div class="whiteBox" style="width: 18mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 2mm">Relationship:</div>
      <div class="whiteBox" style="width: 22mm; height: 5mm; border: none;">
        <div class="underLine" style="width: 20mm; border-bottom: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">No</div>
      <div class="whiteBox" style="width: 15mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left; padding-left: 1.5mm;">Ethnicity:</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Cauc</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 12mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Am Ind</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Hisp</div>
      <div class="whiteBox" style="width: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 12mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Afr Am</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1.75;">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 8mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Asian</div>
      <div class="whiteBox" style="width: 5mm; height: 5mm; border: none; line-height: 1;.75">
        <div class="checkBox" style="border: 1px solid;"></div>
      </div>
      <div class="whiteBox" style="width: 10mm; height: 5mm; border: none; line-height: 1.25; letter-spacing: .1mm; text-align: left;">Other</div>
      <div class="gynBox" style="width: 117mm; height: 3mm; border: none; line-height: .5; letter-spacing: .1mm; text-align: center;">* Pathologist interpretation performed unless otherwise stated</div>
    </div>
  </div>
  <div class="whiteBox" style="width: 50mm; height: 28mm; border: none;">
    <div class="whiteBox" style="width: 50.9mm; height: 16.75mm; border-left: 2px solid; border-bottom: 2px solid;">
      <div class="headerBox" style="width: 45mm; height: 3mm; border: none; text-align: center; font-size: 12px;">YPI Accession #:</div>
    </div>
  </div>
</div>
