<div class="whiteBox" style="width: 217mm; height: 23mm; border: none;">
  <div class="heading" style="color: white; padding-top: 0.5mm;">PATIENT INFORMATION</div>
  <div class="row">
    <div class="whiteBox" style="width: 25mm; line-height: 1;">Patient's Name: (Last)</div>
    <div class="brownBox" style="width: 65mm;"></div>
    <div class="whiteBox" style="width: 10mm;">(First)</div>
    <div class="brownBox" style="width: 50mm;"></div>
    <div class="whiteBox" style="width: 6mm;">(MI)</div>
    <div class="brownBox" style="width: 8.5mm;"></div>
    <div class="yellowBox" style="width: 15mm; line-height: 1;">Ordering Provider:</div>
    <div class="yellowBox" style="width: 35mm; border-right: 1px solid ;"></div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 20mm;">Date of Birth:</div>
    <div class="brownBox" style="width: 19mm;"></div>
    <div class="whiteBox" style="width: 9mm;">Sex:</div>
    <div class="brownBox" style="width: 8mm;"></div>
    <div class="whiteBox" style="width: 9mm;">SSN:</div>
    <div class="brownBox" style="width: 40mm;"></div>
    <div class="whiteBox" style="width: 12mm;">Phone:</div>
    <div class="brownBox" style="width: 40mm;"></div>
    <div class="yellowBox" style="width: 12mm;">Chart #</div>
    <div class="yellowBox" style="width: 45mm; border-right: 1px solid;"></div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 28mm;">Patient's Address:</div>
    <div class="brownBox" style="width: 67mm;"></div>
    <div class="whiteBox" style="width: 8mm;">City:</div>
    <div class="brownBox" style="width: 52mm;"></div>
    <div class="whiteBox" style="width: 6mm;">ST:</div>
    <div class="brownBox" style="width: 20.5mm;"></div>
    <div class="whiteBox" style="width: 7mm;">Zip:</div>
    <div class="brownBox" style="width: 26mm; border-right: 1px solid;"></div>
  </div>
</div>
