<div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">BILLING INFORMATION</div>
<div class="whiteBox" style="width: 216.5mm; height: 43mm; border-right: 1px solid; border-left: 1px solid;">
  <div class="row">
    <div class="whiteBox" style="width: 33mm; border: none;">Insurance: Hospital</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 8mm; border: none; text-align: left; padding-left: 1mm">IP</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 13mm; border: none; text-align: left; padding-left: 1mm">OP</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 30mm; border: none; text-align: left; padding-left: 1mm">Private Practice</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 38mm; border: none; text-align: left; padding-left: 1mm">Hospital Owned Practice</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">Insurance</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">Uninsured</div>
    <div class="whiteBox" style="width: 4mm; border: none;">
      <div class="checkBox" style="border: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 19.5mm; border: none; text-align: left; padding-left: 1mm;">Medicare</div>
  </div>
  <div class="whiteBox" style="width: 217mm; border: none; text-align: center;"><span class="highlight">SEPARATE SHEET SHOWING PATIENT DEMOGRAPHIC INFORMATION MUST BE ATTACHED</span></div>
  <div class="row">
    <div class="whiteBox" style="width: 37mm; border: none; text-align: right; padding-left: 1mm;">Primary Insurance Name:</div>
    <div class="whiteBox" style="width: 68mm; border: none;">
      <div class="underLine" style="border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 40mm; text-align: right; border: none; text-align: left; padding-left: 1mm;">Secondary Insurance Name:</div>
    <div class="whiteBox" style="width: 68mm; border: none;">
      <div class="underLine" style="width: 65mm; border: none; border-bottom: 1px solid;"></div>
    </div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 15mm; border: none">Ins ID #:</div>
    <div class="whiteBox" style="width: 33.75mm; border: none;">
      <div class="underLine" style="width: 33.75mm; border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; padding-left: 1mm; border: none;">Ins Group #:</div>
    <div class="whiteBox" style="width: 33.75mm; padding-left: 1mm; border: none;">
      <div class="underLine" style="width: 33.75mm;border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 15mm; padding-left: 1mm; border: none">Ins ID #:</div>
    <div class="whiteBox" style="width: 35mm; padding-left: 1mm; border: none;">
      <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; padding-left: 1mm; border: none;">Ins Group #:</div>
    <div class="whiteBox" style="width: 35mm; padding-left: 1mm; border: none;">
      <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 32mm; border: none;">Policy Holder Name:</div>
    <div class="whiteBox" style="width: 35mm; border: none;">
      <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; border: none;">Date of Birth:</div>
    <div class="whiteBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 32mm; border: none;">Policy Holder Name:</div>
    <div class="whiteBox" style="width: 35mm; border: none;">
      <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 20mm; border: none;">Date of Birth:</div>
    <div class="whiteBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 15mm; border: none;">Address</div>
    <div class="whiteBox" style="width: 55mm; border: none;">
      <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 15mm; border: none;">Phone:</div>
    <div class="whiteBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 15mm; border: none;">Address</div>
    <div class="whiteBox" style="width: 55mm; border: none;">
      <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 15mm; border: none;">Phone:</div>
    <div class="whiteBox" style="width: 20mm; border: none;">
      <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
    </div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 10mm; border: none;">City:</div>
    <div class="whiteBox" style="width: 40mm; border: none;">
      <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 8mm; border: none;">ST:</div>
    <div class="whiteBox" style="width: 15mm; border: none;">
      <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 8mm; border: none;">Zip:</div>
    <div class="whiteBox" style="width: 25mm; border: none;">
      <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 10mm; border: none;">City:</div>
    <div class="whiteBox" style="width: 40mm; border: none;">
      <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 8mm; border: none;">ST:</div>
    <div class="whiteBox" style="width: 15mm; border: none;">
      <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 8mm; border: none;">Zip:</div>
    <div class="whiteBox" style="width: 25mm; border: none;">
      <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
    </div>
  </div>
</div>
