<div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">SURGICAL SPECIMENS · Please label slides/specimen container with Patient Name &#38 Date of Birth</div>
<div class="whiteBox" style="width: 216.5mm; height: 43mm; border-right: 1px solid; border-left: 1px solid;">
  <div class="whiteBox" style="width: 216.5mm; height: 6mm; border: none">
    <div class="whiteBox" style="width: 35mm; height: 6mm; font-weight: bold; font-size: 4mm; line-height: 1.5; border: none;">For Breast Tissue:</div>
    <div class="whiteBox" style="width: 18mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">Collection <time></time></div>
    <div class="whiteBox" style="width: 15mm; border: none;">
      <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">am</div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">pm</div>
  </div>
  <div class="whiteBox" style="width: 216.5mm; height: 6mm; border: none">
    <div class="whiteBox" style="width: 120mm; height: 6mm; text-align: right; border: none; padding-right: 1mm; font-size: 3.5mm;">Time into fixative (must be 10% Neutral Buffered Formalin):</div>
    <div class="whiteBox" style="width: 15mm; border: none;">
      <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
    </div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">am</div>
    <div class="whiteBox" style="width: 7mm; border: none; text-align: left; padding-left: 1mm; font-size: 3.5mm;">pm</div>
  </div>
  <div class="whiteBox" style="width: 216.5mm; height: 6mm; border: none; padding-left: .5mm;">
    <div class="whiteBox" style="width: 30mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; padding-left: 1mm; font-size: 3.5mm; text-align: left;">Specimen #</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; padding-left: 1mm; font-size: 3.5mm; text-align: left;">Specimen Description</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; padding-left: 1mm; font-size: 3.5mm; text-align: left;">Anatomic Location</div>
    <div class="whiteBox" style="width: 64mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none; padding-left: 1mm; font-size: 3.5mm; text-align: left;">Procedure</div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; text-align: left; font-size: 3.5mm; padding-left: 2mm;">1</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; text-align: left; font-size: 3.5mm; padding-left: 2mm;">2</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; text-align: left; font-size: 3.5mm; padding-left: 2mm;">3</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; text-align: left; font-size: 3.5mm; padding-left: 2mm;">4</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none; text-align: left; font-size: 3.5mm; padding-left: 2mm;">5</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: none;"></div>
    <div class="whiteBox" style="width: 31mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: 1px solid; text-align: left; font-size: 3.5mm; padding-left: 2mm;">6</div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: 1px solid;"></div>
    <div class="whiteBox" style="width: 58mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-right: none; border-bottom: 1px solid;"></div>
    <div class="whiteBox" style="width: 65mm; height: 4mm; text-align: right; line-height: 1; border: 1px solid; border-bottom: 1px solid;"></div>
  </div>
</div>
