<div class="whiteBox" style="width: 217mm; height: 49.5mm; border: 1px solid;">
  <div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">TISSUE BIOPSY</div>
  <div class="whiteBox" style="width: 97.5mm; height: 43mm; border: 1px solid; border: none">
    <div class="whiteBox" style="width: 97.5mm; border: none">
      <div class="whiteBox" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm; font-weight: bold; text-decoration: underline">Specimen Source</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Cervical Biopsy</div>
        <div class="whiteBox" style="width: 60mm; border: none;">
          <div class="underLine" style="width: 60mm;border-bottom: 1px solid "></div>
        </div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{vulvabx}}</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Vulvar Biopsy</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Endocervical Curretage (ECC)</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Endometrial Biopsy (EMB)</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">LEEP</div>
    </div>
    <div class="whiteBox" style="width: 97.5mm; height: 4.5mm; border: none">
      <div class="whiteBox" style="width: 5mm; border: none;">
        <div class="checkBox" style="border: 1px solid "></div>
      </div>
      <div class="whiteBox" style="width: 10mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Other:</div>
        <div class="whiteBox" style="width: 80mm; border: none;">
          <div class="underLine" style="width: 80mm;border-bottom: 1px solid "></div>
        </div>
    </div>
</div>
<div class="whiteBox" style="width: 118.68mm; height: 43mm; border: none; border-left: 1px solid">
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox" style="border: 1px solid "></div>
    </div>
    <div class="whiteBox" style="width: 75mm; border: none; line-height: 2; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Correlate with Pap Results (if availabe)</div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">Clinical History</div>
      <div class="whiteBox" style="width: 87mm; border: none;">
        <div class="underLine" style="width: 87mm;border-bottom: 1px solid "></div>
      </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 110mm; border: none; padding-left: 2mm">
      <div class="underLine" style="width: 110mm;border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">Hormone Therapry (specify)</div>
      <div class="whiteBox" style="width: 65mm; border: none;">
        <div class="underLine" style="width: 65mm;border-bottom: 1px solid "></div>
      </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 110mm; border: none; padding-left: 2mm">
      <div class="underLine" style="width: 110mm; border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">Clinical Diagnosis</div>
      <div class="whiteBox" style="width: 75mm; border: none;">
        <div class="underLine" style="width: 75mm; border-bottom: 1px solid "></div>
      </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 110mm; border: none; padding-left: 2mm">
      <div class="underLine" style="width: 110mm;border-bottom: 1px solid "></div>
    </div>
  </div>
  <div class="whiteBox" style="width: 118mm; height: 4.5mm; border: none">
    <div class="whiteBox" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">Physician Sugnature</div>
      <div class="whiteBox" style="width: 75mm; border: none;">
        <div class="underLine" style="width: 75mm; border-bottom: 1px solid "></div>
      </div>
  </div>
</div>
