red = #a95346
orange = #f9edef
yellow = #ffffb6

fontA = font-size
font-size = 8pt

rowHeight = 6mm
pageWidth = 217mm
pageHeight = 278mm

@media print
  body
    width 8.5in
    height 11in
    font-family Calibri
    -webkit-print-color-adjust exact
  .checkBox
    -webkit-print-color-adjust exact

@media screen
  body
    width 8.5in
    height 11in
    font-family Calibri

html, body
  background-color: white
  margin: 0px


@page
  position relative
  display block
  background #fff
  page-break-after auto
  overflow hidden
  size 8.5in 11in
  padding-left 1px
  margin-top 4mm
  margin-left 6mm
  margin-right 4mm
  margin-bottom 6mm

.row
  height rowHeight
  width pageWidth


.heading
  position relative
  height 4mm
  width 217mm
  background #a95346
  font-weight bold
  text-align center
  letter-spacing .25px
  color #a95346
  line-height 1
  font-size 11pt

.whiteBox
  height rowHeight
  font-size fontA
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center

.oncoBox
  height 4mm
  font-size fontA
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center

.brownBox
  height rowHeight
  font-size fontA
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center
  background-color orange

.yellowBox
  height rowHeight
  font-size fontA
  line-height 2
  border-left 1px solid red
  border-bottom 1px solid red
  color red
  letter-spacing .1mm
  float left
  display inline-block
  text-align center
  background-color yellow

.gynBox
  height 3mm
  font-size 6pt
  line-height 1.5
  color #a95346
  letter-spacing .125px
  float left
  display inline-block
  text-align left

.checkBox
  width 2mm
  height 2mm
  background-color white
  position relative
  display inline-block
  border 1px solid

.underLine
  height 4mm
  width 68mm
  position relative
  display inline-block
  float left

.highlight
  background-color yellow
