<div class="whiteBox" style="width: 216.5mm; height: 13mm; border: none; border-right: 1px solid; border-left: 1px solid;">
  <div class="heading" style="width: 216.5mm; color: white;">BILLING INFORMATION</div>
  <div class="whiteBox" style="width: 216.5mm; border: none;">

    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Bill To:</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Hospital</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">IP</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">OP</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Private Practice</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Hospital Owned Practice</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Insurance</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Medicare (attach ABN)</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Medicaid</div>
    <div class="whiteBox" style="width: 5mm; border: none;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="height: 4mm; border: none; padding-right: 1.5mm;">Uninsured</div>
  </div>
  <div class="whiteBox" style="width: 217mm; height: 3mm; border: none; line-height: 1;"><span class="highlight" style="text-decoration: highlight;">SEPARATE SHEET SHOWING PATIENT DEMOGRAPHIC INFORMATION MUST BE ATTACHED</span></div>
</div>
