<div class="whiteBox" style="height: 35mm; width: 217mm; border: none"></div>
<div class="heading" style="background-color: white; line-height: 1.5; font-size: 5mm; display: inline-block">{{title}}</div>
